name: "sonar_cloud_scan_github_actions"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  SonarCloudScan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build, test and Sonar analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.organization=kaikedias \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.projectKey=KaikeDias_api-nutri-plus \
            -Dsonar.coverage.exclusions="**/*Application*,**/config/**,**/security/**,**/exceptions/**,**/entities/**,**/dto/**,**/utils/RestErrorMessage*,**/enums/**"